{% extends "minerve/pages/single_modal/index.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block MINERVE_SINGLE_MODAL %}
    <div class="container">
    <div class="col">
    <div class="d-inline-flex p-2 justify-content-center">
    <div class="setup-logo text-center">
    {% include "brane/logo/svg/animated/brane_logo.svg" %}
    </div>
    </div>
    <div class="col">
    <h1 class="h3 mb-3 fw-normal">{% translate "Brane" %} {% translate "Setup" %} </h1>
    <p>
        {% blocktranslate %}
            Welcome to Brane! Do you have a database ready to connect to?
        {% endblocktranslate %}
    </p>
    </div>
    <div class="col">
        <button class="w-100 btn btn-lg btn-outline-primary p-2 my-2" title="{% translate "An Existing Database Cluster exists, and you'd like to connect to it." %}" ><i class="fa-solid fa-database"></i>&#160;{% translate "Use Existing Database" %}</button>
    </div>
    <div class="col">
        <button class="w-100 btn btn-lg btn-outline-primary p-2 my-2" title="{% translate "A PostgreSQL Database server is ready for use; but no cluster for Brane exists." %}"><i class="fa-solid fa-server"></i>&#160;{% translate "Create new DB in existing server" %}</button>
    </div>
    <div class="col">
        <a href="/create" class="w-100 btn btn-lg btn-outline-primary p-2 my-2" title="{% translate "Create a new Database Pod inside the Brane Cluster and use it." %}"><i class="fa-solid fa-square-plus"></i>&#160;{% translate "Create new DB Server Pod" %}</a>
    </div>
{% endblock %}

{% block MINERVE_PAGE_FOOTER %}
    <link rel="stylesheet" href="/static/brane/css/global/logo/animated/brane_logo.css"/>
    <script>
    $(window.document).ready(function() {
        $("#svg1").addClass("active");
    });
    </script>

{% endblock %}
